html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE Ð¸ Edge */
}
body::-webkit-scrollbar {
    display: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.container{
    position: relative;
    z-index: 3;
    max-width: 1320px;
    margin: 0 auto;
}
header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
    padding-top: 32px;
    background-color: #e2ecff9d;
    backdrop-filter: blur(5px);
}
.header-wrapper{
    display: flex;
    width: 100%;
    max-width: 1320px;
    justify-content: space-between;
}

.text-s-headline{
    position: absolute;
    bottom: 3%;
    left: 38%;
    font-size: 14px;
    width: 150px;
}
.headlines{
    position: relative;
}
.logo{
    font-family: 'Righteous';
    font-size: 24px;
    color: black;
}
.header-btn{
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.homepage-1{
    position: relative;
    background-color: #9EACB8;
    height: 900px;
    width: 100vw;
}
.mountain1{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 900px;
}
.mountain2{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;

    transform: translateY(100%) scale(1.05);
    opacity: 0;     
    filter:blur(6px);       
    will-change: transform, opacity, filter; 
    animation: mountain-slide-in2 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
@keyframes mountain-slide-in2 {
    0% {
        transform: translateY(100%) scale(1.05);
        opacity: 0;
        filter: blur(6px);
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
        filter: blur(0);
    }
}
.mountain3{
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    height: 900px;

    transform: translateX(100%) scale(1.05);
    opacity: 0;     
    filter:blur(6px);       
    will-change: transform, opacity, filter; 
    animation: mountain-slide-in3 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
@keyframes mountain-slide-in3 {
    0% {
        transform: translateX(100%) scale(1.05);
        opacity: 0;
        filter: blur(6px);
    }
    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

.buttons-wrapper{
    display: flex;
    justify-content: center;
    max-width: 1320px;
    gap: 5px;
    margin-top: 60px;
}
.collection-button{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #387EA9;
    color: white;
    border: none;
    padding-bottom: 140px;
    padding-top: 140px;
    cursor: pointer;
}
.collection-button:hover{
    background-color: #306f96;
}
.collection-imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% -2.5px);
    background-color: #387EA9;
}
.homepage-2{
    background-color: #E6F2F5;
}
.homepage-2-wrapper{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.how-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.how-cards{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.how-text{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.outline-button{
    padding-left: 62px;
    padding-right: 62px;
    padding-bottom: 16px;
    padding-top: 16px;
    color: var(--green);
    border: 2px solid #007439;
    background-color: transparent;
}
.discount-products{
    display: flex;
    gap: 10px;
}
.product-card{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.product-texts{
    display: flex;
    flex-direction: column;
}
.product-prices{
    display: flex;
    gap: 10px;
    align-items: center;
}
.product-img{
    width: 100%;
    max-width: 307px;
}